body{
   margin: 0;
   font-family:'Times New Roman', Times, serif ;
   font-size: 20px;
   line-height: 30px;
   background-color: rgb(235, 215, 200);
}
header{
    background-color: red;
    text-align: center;
    padding: 50px;
    padding-bottom: 50px;
}
h1,h2{
    font-family: 'Permanent Marker', cursive;
}
h2{
    font-size: 35px;
    margin: 60px 0 10px;
}

header h1{
    color: white ;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}
header img{

    border-radius: 150px ;
    width: 250px;
    border: 8px solid rgb(137, 0, 0)
}
main{ 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 40px;
   

}
main img{
    max-width: 100%;
}
a{
    color: darkred;
}
a:hover{
    color: red;
   
}
footer{
    background-color: red;
    margin: 0;
    text-align: center;
    padding: 50px;
    padding-bottom: 50px;
    color: white;

}

footer a{
    color: white;
    
}
footer a:hover{
    color: rgb(4, 4, 69);
    
}

p.caption{
    color: rgb(135, 133, 133);
    font-style: italic;
    margin-top: 0;
}
