body {color: blue;
}
span{color: purple
}
h1{
font-size: 30px;
color: blue;
}
h2{
font-size: 50px;
color: brown;
}
.big{ 
    color: pink;
}
.small{
color: rgb(126, 126, 55);
}
.big.uppercase{
    color: crimson;
}